<!doctype html>
<html>
  <head>
    {% block head %}
    <!-- start: Meta -->
      <meta charset="utf-8">
      <title>Epic Charts</title> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="BI with NVD3."/>
      <meta name="keywords" content="business analytics" />
      <meta name="author" content="Ryan Gehring"/>
    <!-- end: Meta -->
    <!-- start: CSS -->
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900">
      <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" type="text/css">
      <link href="{{url_for('static', filename='css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css">
      <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
      <link href="{{url_for('static', filename='css/splash.css')}}" rel="stylesheet" type="text/css">
      <link href="{{url_for('static', filename='css/navbar.css')}}" rel="stylesheet" type="text/css">
      <link href="{{url_for('static', filename='css/nv.d3.css')}}" rel="stylesheet" type="text/css">
      <link href="{{url_for('static', filename='css/lightbox.css')}}" rel="stylesheet" type="text/css">
    <!-- end: CSS -->
        
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  
    {% endblock %}
  </head>
<body>
  {% block navbar %}
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <ul class="nav">
          <li {% if navbar == 'home' %}  class="active" {% endif %}  ><a href="{{url_for('home')}}">Home</a></li>
          <li {% if navbar == 'topline' %}  class="active" {% endif %}  ><a href="{{url_for('topline')}}">Topline</a></li>
          <li {% if navbar == 'sales' %}  class="active" {% endif %}  ><a href="{{url_for('sales')}}">Sales</a></li>
        </ul>
      </div>
    </div>
  {% endblock %}

  <div id="content">{% block content %}{% endblock %}</div> 

  {% block footer %}
  <div id="footer" class="row-fluid">
      <a href="#">About</a>
      <a href="#">Privacy</a>
  </div>
  <script src="{{url_for('static', filename='js/jquery-1.9.1.min.js')}}"</script>
  <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap-alert.js')}}"></script>
  <script src="{{url_for('static', filename='js/dragdrop.js')}}"></script>
  <script src="http://d3js.org/d3.v2.min.js" charset="utf-8"></script>
  <script src="{{url_for('static', filename='js/nv.d3.min.js')}}"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js></script>
  <script src="{{url_for('static', filename='js/tooltip.js')}}"></script>
  <script src="{{url_for('static', filename='js/utils.js')}}"></script>
  <script src="{{url_for('static', filename='js/models/legend.js')}}"></script>
  <script src="{{url_for('static', filename='js/models/axis.js')}}"></script>
  <script src="{{url_for('static', filename='js/models/line.js')}}"></script>
  <script src="{{url_for('static', filename='js/models/lineChart.js')}}"></script>
  <script src="{{url_for('static', filename='js/lightbox.js')}}"></script>

  {% endblock %}
</body>
