{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    {{super()}}
    <!--For each plot, call the relevant plot function -->
  
  {% endblock %}
</head>
<body>
  {% block navbar %}
    {{super()}}
  {% endblock %}
  {% block content %}
    {{super()}}


  <div class="titlebar">
    <h3> The Epic Charts </h3>
  </div>
  <p>You can drag and drop charts to move them around, click for fullscreen, etc </p>

<div class="container-fluid">
  
    <div class="row-fluid">

  {% for plot in plot_data %}
  {% if loop.index % 3 == 1 and loop.index != 1 %}
    </div>
    <div class="row-fluid">
  {% endif %}
    <div class="plot span4" draggable="true">
      <p>{{plot.title}}</p>
      <div id="plot{{loop.index}}"> 
        <svg style="height: 200px; "></svg>
      </div> 
      <a href="#" rel="lightbox" title="my caption">Full Screen</a>
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint">{{plot.query}} </code>
    </div>

  {% endfor %}
    </div>
  
  <br>

  <div id=newchart>
    <button class="btn btn-success">Add Chart</button>
  </div>
</div>



  {% endblock %}

  {% block footer %}
    {{super()}}
    <script type="text/javascript">
    function formatArrayData(x, y) {
      var out = [];
      
      for (var i = 0; i < x.length; ++i)
        out.push({'x': x[i] , 'y': y[i]   })
      return out;
    }   
      
    {% for plot in plot_data %} 
      {% set outer_index=loop.index  %}
      {% set curr_plot = plot  %}
        nv.addGraph(function() {  
          var chart = nv.models.{{plot.graph_type}}();
          chart.xAxis
              .axisLabel('{{plot.xlabel}}')
              .tickFormat(d3.format(',r'));
          chart.yAxis
              .axisLabel('{{plot.ylabel}}')
              .tickFormat(d3.format('.02f'));
          d3.select('#plot{{loop.index}} svg')
          .datum(extractPlotData{{outer_index}}())
            .transition().duration(500)
              .call(chart);
              nv.utils.windowResize(function() { d3.select('#plot{{loop.index}} svg').call(chart) });
          return chart;
        });
      function extractPlotData{{outer_index}}() {
        {% for yvar in curr_plot.yvarslist  %}        
        var {{yvar}} = formatArrayData( [{{ curr_plot.data[curr_plot.xvar]|join(',') }} ],  [ {{  curr_plot.data[yvar]|join(',')  }}] )
        {% endfor %}
        return [
        {% for yvar in curr_plot.yvarslist %}        
        {values: {{yvar}},
         key: '{{yvar}}',
         color: '{{colors[loop.index0]}}'
        },
        {% endfor %}
        ];
      }

        {% endfor %}
    </script>
  {% endblock %}




</body>
</html>
