{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    {{super()}}
    <!--For each plot, call the relevant plot function -->
    {% for plot in plots %} 
      <script>
        var {{ 'plot' ~ (loop.index+1) ~ 'data'  }} = {{ plot.data }}

      </script>  
  {% endfor %}
  
  {% endblock %}
</head>
<body>
  {% block navbar %}
    {{super()}}
  {% endblock %}
  {% block content %}
    {{super()}}


  <div class="titlebar">
    <h3> The Epic Charts </h3>
  </div>
  
<div class="container-fluid">
  <div class="row-fluid">
    <div class="plot span4" draggable="true">
      <div id="plot1"> 
        <svg style="height: 200px; "></svg>
      </div> 
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint">this is plot1; </code>
    </div>
    <div class="plot span4" draggable="true">
      <div id="plot2"> </div>
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint">this is plot2; </code>
    </div>
    <div class="plot span4" draggable="true">
      <div id="plot3"> </div>
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint">this is plot3; </code>
    </div>

  
  </div>
  <div class="row-fluid">
    <div class="plot span4" draggable="true">
      <div id="plot4"> </div>
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint">this is plot4; </code>
    </div>
    <div class="plot span4" draggable="true">
      <div id="plot5"> </div>
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint">this is plot5; </code>
    </div>
    <div class="plot span4" draggable="true">
      <div id="plot6"> </div>
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint">this is plot6; </code>
    </div>
  </div>
  
  <br>

  <div id=newchart>
    <button class="btn btn-success">Add Chart</button>
  </div>
</div>



  {% endblock %}





  {% block footer %}
    {{super()}}
    <script src="{{url_for('static', filename='js/my_charts.js')}}"></script>
  {% endblock %}

</body>
</html>
