{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    {{super()}}
  {% endblock %}
</head>
<body>
  {% block navbar %}
    {{super()}}
  {% endblock %}
  {% block content %}
    {{super()}}


  <div class="titlebar">
    <h3> The Epic Charts </h3>
  </div>
  
<div class="container-fluid">
  <div class="row-fluid">
    <div id="plot1" class="span4">
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint">SELECT date, lasers FROM table1; </code>
    </div>
    <div id="plot2" class="span4">
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint"> </code>
    </div>
    <div id="plot3" class="span4">
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint"> </code>
    </div>
  </div>
  <div class="row-fluid">
    <div id="plot4" class="span4">
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint"> </code>
    </div>
    <div id="plot5" class="span4">
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint"> </code>
    </div>
    <div id="plot6" class="span4">
      <button class="btn btn-info"> Show SQL</button>
      <code class="prettyprint"> </code>
    </div>
  </div>
  
  <br>

  <div id=newchart>
    <button class="btn btn-success">Add Chart</button>
  </div>
</div>



  {% endblock %}





  {% block footer %}
    {{super()}}
  {% endblock %}

</body>
</html>
